venv
__pycache__
app/sessions
profiles
promo-bot
asd.*
product.jpg
.env
temp
*.csv
node_modules
microsservices/zap-bot/auth
microsservices/zap-bot/package-lock.json
contatos*.json
followers*.json
/extensions/Revizap
/app/services/webdriver/profile
/zap-bot/.ww*
package-lock.json